## 1. 如何描述這兩組資料的樣態？

In [1]:
import math
import statistics
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
boy=np.array([164,176,169,169,165,175,159,151,144,160,183,165,156,170,164,173,165,163,177,171])
girl=np.array([169,183,170,168,182,170,173,185,151,156,162,169,162,181,159,154,167,175,170,160])

In [3]:
mean = np.mean(boy)
median = np.median(boy)
mode = statistics.mode(boy)
xrange = np.max(boy)-np.min(boy)
std = np.std(boy, ddof=1)
var = np.var(boy, ddof=1)
skew = stats.skew(boy)
kurtosis = stats.kurtosis(boy)

boys = [{'mean':mean, 'median':median, 'mode':mode, 'xrange':xrange, 
         'std':std, 'var':var, 'skew':skew, 'kurtosis':kurtosis}]

In [4]:
mean = np.mean(girl)
median = np.median(girl)
mode = statistics.mode(girl)
xrange = np.max(girl)-np.min(girl)
std = np.std(girl, ddof=1)
var = np.var(girl, ddof=1)
skew = stats.skew(girl)
kurtosis = stats.kurtosis(girl)

girls = [{'mean':mean, 'median':median, 'mode':mode, 'xrange':xrange, 
          'std':std, 'var':var, 'skew':skew, 'kurtosis':kurtosis}]

In [5]:
boys = pd.DataFrame(boys, index=['boys'])
girls = pd.DataFrame(girls, index=['girls'])
pd.concat([boys, girls], axis=0)

         mean  median  mode  xrange       std        var      skew  kurtosis
boys   165.95   165.0   165      39  9.213691  84.892105 -0.471321  0.193959
girls  168.30   169.0   170      34  9.766215  95.378947  0.059853 -0.820361

## 2. 男生和女生在平均身高上誰比較高？

In [6]:
# Mean of girls are higher.
(np.mean(girls)>np.mean(boys))[0]

True

## 3. 第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何？

In [7]:
# The result is different to the usual life, it may due to the error of sampling.