## 1. 請建立類似提供結果的 DataFrame：

#    Apples  Bananas
# 0      30       21
-----------------------------
#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

In [1]:
import pandas as pd

dict_1 = {'Apples':[30], 'Bananas':[21]}
df_1 = pd.DataFrame(dict_1)
df_1

   Apples  Bananas
0      30       21

In [2]:
dict_2 = {'Apples':[35, 41], 'Bananas':[21, 34]}
df_2 = pd.DataFrame(dict_2, index=['2017 Sales', '2018 Sales'])
df_2

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon

In [3]:
dict_3 = {
    'city':['Austin', 'Dallas', 'Austin', 'Dallas'],
    'visitor':[139, 237, 326, 456],
    'weekday':['Sun', 'Sun', 'Mon', 'Mon']}
df_3 = pd.DataFrame(dict_3)
df_3

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

## 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [4]:
# Solution 1
df_3.groupby('weekday').agg({'visitor':'mean'})

         visitor
weekday
Mon          391
Sun          188

In [5]:
# Solution 2
df_3.groupby('weekday').mean()

         visitor
weekday
Mon          391
Sun          188