## Transform index and columns

In [2]:
import pandas as pd

multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'), ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[1, 2], [2, 4]],
                                    index=['cat', 'dog'],
                                    columns=multicol1)
df_multi_level_cols1

    weight
        kg pounds
cat      1      2
dog      2      4

In [10]:
# Transfer columns to index
df_multi_level_cols1.stack()

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

In [15]:
df_multi_level_cols1.stack().index

MultiIndex([('cat',     'kg'),
            ('cat', 'pounds'),
            ('dog',     'kg'),
            ('dog', 'pounds')],
           )

In [12]:
# Transfer index to columns
df_multi_level_cols1.stack().unstack()

    weight
        kg pounds
cat      1      2
dog      2      4

In [14]:
df_multi_level_cols1.stack().unstack().index

Index(['cat', 'dog'], dtype='object')