## Series

In [1]:
import pandas as pd

s = pd.Series([1, 2, 3], index=["Amy", "Bob", "Tom"])
print(s)

Amy    1
Bob    2
Tom    3
dtype: int64

## DataFrame

In [2]:
# One dimension
df = pd.DataFrame([1, 2, 3], index=["Amy", "Bob", "Tom"], columns=["Value"])
df

     Value
Amy      1
Bob      2
Tom      3

In [3]:
# Multi dimensionn
import numpy as np

df = pd.DataFrame(np.arange(6).reshape(3, 2), index=["Amy", "Bob", "Tom"], columns=["Value_1", "Value_2"])
df

     Value_1  Value_2
Amy        0        1
Bob        2        3
Tom        4        5

In [4]:
dict_df1 = {'Name': ['Alice', 'Bob'],'Age': [18, 20]}
df = pd.DataFrame(dict_df1)
print(df)
print("")

dict_df2 = [{'Name': 'Alice', 'Age': 18},{'Name': 'Bob', 'Age': 20}]
df = pd.DataFrame(dict_df2)
print(df)

    Name  Age
0  Alice   18
1    Bob   20

    Name  Age
0  Alice   18
1    Bob   20

In [5]:
print(df['Name'])
print("Type:", type(df['Name']))

0    Alice
1      Bob
Name: Name, dtype: object
Type: <class 'pandas.core.series.Series'>