## Loop

In [1]:
import pandas as pd

df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]})

df

    name  age
0  Alice   20
1    Bob   32

In [2]:
for i in df:
    print(i)

name
age

In [3]:
for i in range(len(df)):
    print(df.iloc[i])

name    Alice
age        20
Name: 0, dtype: object
name    Bob
age      32
Name: 1, dtype: object

In [4]:
for i in df.iteritems():
    print(i)

('name', 0    Alice
1      Bob
Name: name, dtype: object)
('age', 0    20
1    32
Name: age, dtype: int64)

In [5]:
for i in df.iterrows():
    print(i)

(0, name    Alice
age        20
Name: 0, dtype: object)
(1, name    Bob
age      32
Name: 1, dtype: object)

In [6]:
for i in df.itertuples():
    print(i)

Pandas(Index=0, name='Alice', age=20)
Pandas(Index=1, name='Bob', age=32)

## Apply

In [7]:
import numpy as np

df = pd.DataFrame({
  'score': [98, 67, 85],
  'age': [20, 32, 28]})

df

   score  age
0     98   20
1     67   32
2     85   28

In [8]:
print(df.apply(np.max))
print("")
print(df.apply(np.min))

score    98
age      32
dtype: int64

score    67
age      20
dtype: int64

In [9]:
# For series or dataframe
df.apply(lambda x: x.max() - x.min())

score    31
age      12
dtype: int64

In [10]:
# For series or dataframe
df['age'].apply(lambda x: -x)

0   -20
1   -32
2   -28
Name: age, dtype: int64

In [11]:
# Only for one series in dataframe
df['age'].map(lambda x: -x)

0   -20
1   -32
2   -28
Name: age, dtype: int64

In [12]:
# Only for whole dataframe
df.applymap(lambda x: -x)

   score  age
0    -98  -20
1    -67  -32
2    -85  -28